{% extends 'base.html' %}
{% load static %}

{% block titulo %}Mensajes{% endblock titulo %}

{% block contenido %}

{% if mensajes %}

    
    
<h2>Mensajes de contactos:</h2>
            <div class="row justify-content-start">
                <div class="col-md-6">
                    <div class="mb-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Teléfono</th>
                                    <th scope="col">Mensaje</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>
                            {% for mensaje in mensajes %}

                            <tbody>
                                <tr>
                                    <td>{{ mensaje.nombre }}</td>
                                    <td>{{ mensaje.email }}</td>
                                    <td>{{ mensaje.telefono }}</td>
                                    <td>{{ mensaje.mensaje }}</td>
                                    <td>{{ mensaje.fecha }}</td>
                                    <td><a name="delete_mensaje" onclick="eliminarMensaje()" class="btn btn-danger btn-sm" href="#"
                                        role="button">Borrar</a></td>
                                </tr>
                            </tbody>

                            {% block js %}
                            <script>
                                function eliminarMensaje() {
                                    Swal.fire({
                                        'title': '¿Estas seguro?',
                                        'text': 'Esta acción no se puede deshacer',
                                        'icon': 'question',
                                        'showCancelButton': true,
                                        'cancelButtonText': 'No, Cancelar',
                                        'confirmButtonText': 'Si, Eliminar',
                                        'reverseButtons': true,
                                        'confirmButtonColor': '#dc3545',
                                    })
                                    .then(function(result){
                                        if (result.isConfirmed){             
                                            window.location.href = '{% url 'contacto:delete_mensaje' mensaje.pk %}';
                                        }
                                    })
                                }
                            </script>
                        {% endblock js %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <span class="text-center">
                    <button type="button" class="btn btn-primary btn-sm"><a class="dropdown-item"
                            href="{% url 'home' %}">Cancelar</a></button>
                </span>
            </div>
     
   
   

{% else %}
    <h2>No hay mensajes</h>
{% endif %}

{% endblock contenido %}