{% extends 'base.html' %}
{% load static %}

{% block titulo %}Categorias{% endblock titulo %}

{% block contenido %}



{% if categorias %}
<div class="container">
<h2>Listar Categorias:</h2>
    
        <div class="row justify-content-start">
            <div class="col-md-10">
                <div class="mb-3">                   
                       
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">    ➜</th>
                                    <th scope="col">CATEGORIA</th>
                                    <th scope="col">EDITAR</th>
                                    <th scope="col">BORRAR</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                {% for categoria in categorias %}
                                <tr>
                                    <th scope="row">  ✔️</th>
                                    <td><strong>{{categoria}}</strong></td>
                                    <td><a name="edit_categoria" class="btn btn-secondary btn-sm" href="{% url 'articulos:edit_categoria' categoria.pk %}"
                                        role="button">Editar</a></td>
                                    <!-- <td><a name="delete_categoria" class="btn btn-danger btn-sm" href="{% url 'articulos:delete_categoria' categoria.pk %}"
                                        role="button">Borrar</a></td> -->
                                    <td><a name="delete_categoria" onclick="eliminarCategoria({{categoria.pk}})" class="btn btn-danger btn-sm" href="#"
                                        role="button">Borrar</a></td>
                                        
                                </tr>  
                                    {% block js %}
                                        <script>
                                            function eliminarCategoria(id) {
                                                Swal.fire({
                                                    'title': '¿Estas seguro?',
                                                    'text': 'Esta acción no se puede deshacer',
                                                    'icon': 'question',
                                                    'showCancelButton': true,
                                                    'cancelButtonText': 'No, Cancelar',
                                                    'confirmButtonText': 'Si, Eliminar',
                                                    'reverseButtons': true,
                                                    'confirmButtonColor': '#dc3545',
                                                })
                                                .then(function(result){
                                                    if (result.isConfirmed){             
                                                        window.location.href = '{% url 'articulos:delete_categoria' categoria.pk %}';
                                                    }
                                                })
                                            }
                                        </script>
                                    {% endblock js %}
                                {% endfor %}
                            </tbody>
                                
                        </table>
                        
                </div>                
            </div>
            <span class="text-end">
                <button type="button" class="btn btn-primary btn-sm"><a class="dropdown-item"
                    href="{% url 'articulos:addcategoria' %}">Nueva</a></button>
                <button type="button" class="btn btn-danger btn-sm"><a class="dropdown-item"
                        href="{% url 'home' %}">Cancelar</a></button>
            </span>
        </div>

       
    
    {% else %}
        <h2>No hay Categorias</h>       
        {% endif %}
    {% endblock contenido %}