{% extends 'base.html' %}
{% load static %}
{% block title %}Registro{% endblock %}

{% block contenido %}

<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
                </div>
                <h1 class="fw-bolder">Registrarse</h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form method="post"enctype="multipart/form-data">{% csrf_token %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                        {% endfor %}
                        {% endif %}
                        {{form.errors}}
                        
                        <div class="form-floating mb-3">
                            <input class="form-control" name="first_name" type="text"
                                placeholder="Nombre" required />
                            <label for="first_name">Nombre</label>
                        </div>
                        
                        <div class="form-floating mb-3">
                            <input class="form-control" name="last_name" type="text"
                                placeholder="Apellido" required />
                            <label for="last_name">Apellido</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" name="email" type="text" placeholder="correo@gmail.com" required />
                            <label for="email">Email</label>
                        </div>
                        
                        <div class="form-floating mb-3">
                            <label class="text-sm-end" for="imagen">Imagen</label>
                            <input class="form-control" name="imagen" type="file"                                                
                            
                        </div>
                       

                        <div class="form-floating mb-3">
                            <input class="form-control" name="username" type="text" placeholder="Usuario" required />
                            <label for="username">Usuario</label>
                        </div>

                        
                        <div class="form-floating mb-3">
                            <input class="form-control" name="password1" type="password" placeholder="Contraseña" required />
                            <label for="password">Contraseña</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" name="password2" type="password" placeholder="Contraseña" required />
                            <label for="password">Confirmar contraseña</label>
                        </div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button type="submit" value="registrarse" class="btn btn-primary btn-lg ">Registrar</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}