{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<!-- Contenido de la pagina-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-9">
                <!-- Contenido post-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{ articulo.titulo }}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">{{ articulo.usuario_articulo.first_name}}, {{ articulo.usuario_articulo.last_name}}</div>
                        <div class="text-muted fst-italic mb-2">{{ articulo.fecha_publicacion }}</div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ articulo.categoria_articulo }}</a>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded"
                            src="{{ articulo.imagen.url }}" alt="" /></figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">{{ articulo.contenido_completo }}</p>
                        
                    </section>
                </article>

                {% if user.is_authenticated and user.tipo_usuario == 'colaborador' %}
                <a class="btn btn-outline-primary" href="{% url 'articulos:editArticulo' pk=articulo.pk %}">Editar Articulo</a>
                <a class="btn btn-outline-danger" href="{% url 'articulos:delete_articulo' pk=articulo.pk %}">Borrar Articulo</a>
                <form method="POST" action="{% url 'articulos:detalleArticulos' pk=articulo.pk %}">
                    {% csrf_token %}
                </form>                
                {% endif %}


                <!-- seccion de comentarios-->

                <section>
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comentario form -->
                            {% if user.is_authenticated %}                         

                            <form method="POST" action="{% url 'articulos:add_comentario' articulo.pk %}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-outline-success">ENVIAR</button>
                            </form>
                            <br>
                            {% else %}
                            <p>Debe iniciar sesión para añadir un comentario.</p>
                            <a href="{% url 'login' %}" class="btn btn-outline-dark">Iniciar Sesión</a>
                            {% endif %}
                
                            <!-- Comentarios -->
                            <h4>Comentarios:</h4>
                            
                            {% for comentario in comentarios %}
                            <hr>
                            <div class="d-flex">
                                <div class="ms-3">
                                    <div class="fw-bold">{{ comentario.usuario_comentario }}</div>
                                    {{ comentario.comentario }}
                                </div>                                
                            </div>
                            {% if comentario.usuario_comentario == user.username or user.tipo_usuario == 'colaborador' %}
                            <!-- Si el usuario es el autor del comentario o un colaborador, se le habilita editar y borrar el comentario -->
                            <a href="{% url 'articulos:edit_comentario' comentario_id=comentario.pk %}"
                                class="btn btn-outline-primary ms-2">Editar</a>
                            <a href="{% url 'articulos:delete_comentario' comentario_id=comentario.pk %}"
                                class="btn btn-outline-danger ms-2">Borrar</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </section>   
                <a name="" id="" class="btn btn-outline-dark" href="{% url 'articulos:listarArticulos' %}" role="button">Volver</a>

            </div>
        </div>
    </div>
    
</section>




<!-- CODIGO VIEJO -->


<!-- <img src="{{ articulo.imagen.url }}" width="50">
<p>Titulo: {{ articulo.titulo }}</p>
<p>Contenido Breve: {{ articulo.contenido_breve }}</p>
<p>Contenido Completo: {{ articulo.contenido_completo }}</p>
<p>Fecha Publicacion: {{ articulo.fecha_publicacion }}</p>
<p>Categoria Articulo: {{ articulo.categoria_articulo }}</p>
<p>Usuario Articulo: {{ articulo.usuario_articulo }}</p>
<br>
{% if user.is_authenticated and user.tipo_usuario == 'colaborador' %}
<a class="btn btn-outline-dark" href="{% url 'articulos:editArticulo' pk=articulo.pk %}">Editar Articulo</a>
<form method="POST" action="{% url 'articulos:detalleArticulos' pk=articulo.pk %}">
    {% csrf_token %}
</form>
<a class="btn btn-outline-dark" href="{% url 'articulos:delete_articulo' pk=articulo.pk %}">Borrar Articulo</a>
{% endif %}
<br>

<h3>Comentarios</h3>
{% for comentario in comentarios %}
<p>{{ comentario.usuario_comentario }} - {{ comentario.fecha_publicacion }}</p>
<p>{{ comentario.comentario }}</p> -->

<!-- Si el usuario es colaborador o es el que hizo el comentario se le habilita para poder borrar -->
<!-- {% if comentario.usuario_comentario == user.username or user.tipo_usuario == 'colaborador' %}
<a class="btn btn-outline-dark" type="submit" href="{% url 'articulos:edit_comentario' comentario_id=comentario.pk %}">Editar Comentario</a>
<a class="btn btn-outline-dark" type="submit" href="{% url 'articulos:delete_comentario' comentario_id=comentario.pk %}">Borrar Comentario</a>
{% endif %} -->


<!-- {% empty %}
<p>No hay comentarios.</p>
{% endfor %}

{% if user.is_authenticated %}
    <h3>Añadir Comentario</h3>
    <form method="POST" action="{% url 'articulos:add_comentario' articulo.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-dark">ENVIAR</button> -->
        <!-- <button type="submit">Enviar</button> -->
   <!--  </form>
{% else %}
    <p>Debe iniciar sesión para añadir un comentario</p>
    <a name="" id="" class="btn btn-outline-dark" href="{% url 'login' %}" role="button">Iniciar Sesion</a>
{% endif %}
    <br><br>
    <a name="" id="" class="btn btn-outline-dark" href="{% url 'articulos:listarArticulos' %}" role="button">Volver</a>

 -->









{% endblock contenido %}