{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<h2>Mi Articulo detallado</h2>



<!-- Contenido de la pagina-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="d-flex align-items-center mt-lg-5 mb-4">
                    <img class="img-fluid rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                        alt="..." />
                    <div class="ms-3">
                        <div class="fw-bold">{{ articulo.usuario_articulo.last_name }}, {{ articulo.usuario_articulo.first_name }} </div>
                        <div class="text-muted">{{ articulo.usuario_articulo }}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{ articulo.titulo }}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">{{ articulo.fecha_publicacion }}</div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ articulo.categoria_articulo }}</a>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded"
                            src="{{ articulo.imagen.url }}" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">{{ articulo.contenido_completo }}</p>
                        
                    </section>
                </article>
                <!-- seccion de comentarios-->
                <section>
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comentario form-->
                            <form class="mb-4"><textarea class="form-control" rows="3"
                                    placeholder="Join the discussion and leave a comment!"></textarea></form>                            
                            <!-- comentario-->
                            <div class="d-flex">                                
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    When I look at the universe and all the ways the universe wants to kill us, I find
                                    it hard to reconcile that with statements of beneficence.
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>






<img src="{{ articulo.imagen.url }}" width="50">
<p>Titulo: {{ articulo.titulo }}</p>
<p>Contenido Breve: {{ articulo.contenido_breve }}</p>
<p>Contenido Completo: {{ articulo.contenido_completo }}</p>
<p>Fecha Publicacion: {{ articulo.fecha_publicacion }}</p>
<p>Categoria Articulo: {{ articulo.categoria_articulo }}</p>
<p>Usuario Articulo: {{ articulo.usuario_articulo }}</p>
<br>
{% if user.is_authenticated and user.tipo_usuario == 'colaborador' %}
<a class="btn btn-outline-dark" href="{% url 'articulos:editArticulo' pk=articulo.pk %}">Editar Articulo</a>
<form method="POST" action="{% url 'articulos:detalleArticulos' pk=articulo.pk %}">
    {% csrf_token %}
</form>
<a class="btn btn-outline-dark" href="{% url 'articulos:delete_articulo' pk=articulo.pk %}">Borrar Articulo</a>
{% endif %}
<br>

<h3>Comentarios</h3>
{% for comentario in comentarios %}
<p>{{ comentario.usuario_comentario }} - {{ comentario.fecha_publicacion }}</p>
<p>{{ comentario.comentario }}</p>
<!-- Si el usuario es colaborador o es el que hizo el comentario se le habilita para poder borrar -->
{% if comentario.usuario_comentario == user.username or user.tipo_usuario == 'colaborador' %}
<a class="btn btn-outline-dark" type="submit" href="{% url 'articulos:edit_comentario' comentario_id=comentario.pk %}">Editar Comentario</a>
<a class="btn btn-outline-dark" type="submit" href="{% url 'articulos:delete_comentario' comentario_id=comentario.pk %}">Borrar Comentario</a>
{% endif %}


{% empty %}
<p>No hay comentarios.</p>
{% endfor %}

{% if user.is_authenticated %}
    <h3>Añadir Comentario</h3>
    <form method="POST" action="{% url 'articulos:add_comentario' articulo.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-dark">ENVIAR</button>
        <!-- <button type="submit">Enviar</button> -->
    </form>
{% else %}
    <p>Debe iniciar sesión para añadir un comentario</p>
    <a name="" id="" class="btn btn-outline-dark" href="{% url 'login' %}" role="button">Iniciar Sesion</a>
{% endif %}
    <br><br>
    <a name="" id="" class="btn btn-outline-dark" href="{% url 'articulos:listarArticulos' %}" role="button">Volver</a>











{% endblock contenido %}