{% extends 'base.html' %}
{% load static %}

{% block titulo %}Editar Articulo{% endblock titulo %}

{% block contenido %}
<!--  h2>Editar Articulo</h2>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar cambios</button>
</form>  -->

<div class="container px-5">
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Editar Artículo:</h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>       
                    <div class="d-grid">
                        <span class="text-center">
                            <button type="submit" value="registrarse" class="btn btn-primary btn-lg ">Guardar</button>
                            <span class="text-center ">
                                <button type="button" class="btn btn-primary btn-lg"><a class="dropdown-item"
                                        href="{% url 'articulos:listarArticulos' %}">Cancelar</a></button>
                            </span>
                        </span>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>









{% endblock contenido %}