{% extends 'base.html' %}
{% load static %}

{% block titulo %}Articulos{% endblock titulo %}





{% block contenido %}

    <!-- Page content-->
    <div class="container">
      <div class="row">    
          <div class="col-lg-8"> 

            <section class="py-5">
              <div class="container px-5">
                <div class="row gx-5">
                  <!-- LISTA TODOS LOS ARTICULOS Y SOLO MUESTRA BORRAR Y EDITAR SI ES EL AUTOR O SUPER ADMIN -->

                  {% if articulos %}
                    {% for articulo in articulos %}
                      <div class="col-lg-6 mb-5">
                        <div class="card h-100 shadow border-0">
                          <img class="card-img-top" src="{{ articulo.imagen.url }}" alt="..." />
                          <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link" href="{% url 'articulos:detalleArticulos' articulo.pk %}">
                              <div class="h5 card-title mb-3">{{ articulo.titulo }}</div>
                              <div class="text-muted fst-italic mb-2">{{articulo.fecha_publicacion}}</div>
                            </a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{articulo.categoria_articulo}}</a>
                            <p class="card-text mb-0">{{ articulo.contenido_breve }}</p>
                            <div class="text-end fst-italic mb-2">{{articulo.usuario_articulo.first_name}}, {{articulo.usuario_articulo.last_name}}</div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  {% else %}
                    <h2>No hay Articulos</h>
                  {% endif %}


                </div>
              </div>
            </section>      
          </div>

    <!-- CATEGORIAS Y FILTROS -->
    <div class="col-lg-4">     
      <div class="container mt-lg-4">
        <div class="card mb-2">
          <div class="card-header">Categorias</div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                  <li><a class="dropdown-item" href="{% url 'articulos:listarArticulos' %}"><strong>Todas</strong></a></li>
                  {% for cat in categorias  %}
                    <li><a class="dropdown-item" href="?categoria={{ cat.pk }}">{{ cat.descripcion}}</a></li>
                  {% endfor %}                
                </ul>
              </div>            
            </div>
          </div>
        </div> 
        <div class="card mb-2">
          <div class="card-header">Filtros</div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                  <li ><strong>Por fecha:</strong></li>
                  <li><a class="dropdown-item" href="?antiguedad_asc=1">ASCENDENTE</a></li>
                  <li><a class="dropdown-item" href="?antiguedad_desc=1">DESCENDENTE</a></li>
                  <hr>
                  <li><strong>Por Título:</strong></li>
                  <li><a class="dropdown-item" href="?orden_asc=1">ASCENDENTE</a></li>
                  <li><a class="dropdown-item" href="?orden_desc=1">DESCENDENTE</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% if user.is_authenticated and tipo_usuario == 'Colaborador' or user.is_superuser %}
        <div class="container mt-lg-4">
          <div class="card mb-2">
            <div class="card-body">
              <a class="dropdown-item" href="{% url 'articulos:addarticulo' %}">Añadir artículo</a>
            </div>
          </div>
        </div>
        {% endif %}      
      </div>

  </div>
</div>
{% endblock contenido %}


  

  