{% extends 'base.html' %}
{% load static %}

{% block titulo %}Articulos{% endblock titulo %}

{% block contenido %}
  <h2>Articulos:</h2>

  {% if articulos %}
    {% for articulo in articulos %}
    <img src="{{ articulo.imagen.url }}" width="50">
    <p><a href="{% url 'articulos:detalleArticulos' articulo.pk %}">Titulo: {{ articulo.titulo }}</a></p>
    <p>Contenido Breve: {{ articulo.contenido_breve }}</p>
    <p>Contenido Completo: {{ articulo.contenido_completo }}</p>
    <p>Fecha Publicacion: {{ articulo.fecha_publicacion }}</p>
    {% if articulo.categoria_articulo is null %}
      <p>Categoria Articulo: 'Sin categoria'</p>
    {% else %}
      <p>Categoria Articulo: {{ articulo.categoria_articulo }}</p>
    {% endif %}
    
    <p>Usuario Articulo: {{ articulo.usuario_articulo }}</p>
    {% endfor %}
  {% else %}
    <h2>No hay Articulos</h>
  {% endif %}
{% endblock contenido %}